/*Legacy information for idiot IE & co*/
			
main, nav, footer, header, section, aside, article, figure{
	display: block;
}
			
			
body {
	background-color: lightslategray;
	margin:0 auto;
	padding:0;
}


			/*BANNER IMAGE*/

div.banner img {
	margin:0px;
	width:100%;
	max-height:40vh;
	vertical-align:bottom;
}


			/*NAV BAR*/

nav {
	color:white;
	background-color: darkslategray;
	margin:1px;
}

nav a {
	text-decoration:none;
	font-weight:bold;
	color:white;
	
}		

nav ul {
	margin:0px;
	padding:20px;
}

nav li {
	display:inline;
	padding: 10px;
}

nav form {
	display:inline;
}

nav div {
	display:inline;
}

nav div#rightnav {
	float: right;
	margin-right: 20px;
}



			/*MAIN*/

main {
    background-color: lavender;
    margin-top: 15px;
    margin-bottom: 1px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 3px groove;
}


			/*FOOTER*/

footer a{
	color:black;
}			
			
footer ul {
	text-align:center;
	padding:0px;

}
footer li {
	display:inline;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
}
